.navbar-custom{
  background-color: #fff;
  border-color: rgba(34, 34, 34, 0.05);
}
footer{
  background-color:#222;
}
.flash-notice{
  font-size: 16px;
  font-weight:600;
  margin-top:50px;
}
#flash_alert{
  color:#FF0505;
}
/***********LogIn Page***************/
.login-section{
  background: asset_url('home-2-6.jpg');
  background-size: cover;
}

input[type="text"],input[type="password"],input[type="email"], input[type="file"],input[type="number"] {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px #ccc solid;
  border-radius: 0;
  font-weight: 500;
  font-size:15px;
  margin-bottom: 15px;
  padding-left: 20px;
  width: 100%;
  color: #000;
  border-radius: 0;
  height: 45px;
}
.feature.bordered {
  padding: 32px;
  border: 1px solid #ccc;
}
.feature {
  margin-bottom: 24px;
}

/***********SignUp Page***************/

.signup-section{
  background: asset_url('home-2-4.jpg');
  background-size: cover; 
}
.signup-btn,.login-btn{
  width:100%;
  color:#000;
}
.signup-btn:hover,.login-btn:hover{
  
  color:#565;
}

/**********************************/
.select-option {
    cursor: pointer;
    
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}
select {
    color: #777;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
     height: 45px;
     width: 100%;
}