.navbar-custom{
  background-color: #fff;
  border-color: rgba(34, 34, 34, 0.05);
}
footer{
  background-color:#222;
}
.flash-notice{
  font-size: 16px;
  font-weight:600;
  margin-top:50px;
}
#flash_alert{
  color:#FF0505;
}
/***********LogIn Page***************/
.login-section{
  background: asset_url('home-2-4.jpg');
  background-size: cover;
}

.new_user input[type="text"],.new_user input[type="password"],.new_user input[type="email"],.new_user input[type="file"],#new_house_owner input[type="number"] {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px #eee solid;
  border-radius: 0;
  font-weight: 500;
  height: 40px ;
  margin-bottom: 10px;
  padding-left: 20px;
  width: 100%;
}
.feature.bordered {
  padding: 32px;
  border: 1px solid #ccc;
}
.feature {
  margin-bottom: 24px;
}

/***********SignUp Page***************/

.signup-section{
  background: asset_url('home-2-4.jpg');
  background-size: cover; 
}
.signup-btn,.login-btn{
  width:100%;
}